---
layout: default
title: Contact
ordering: 3
---

<div class="hero-thingy parallax" id="index-hero">
	<h1>Contact</h1>
</div>


<section class="container">
	<div class="row" id="info">
		<div class="col-md-4">
			<h2 class="heading">Contact Us</h2>
			{% include icon.html icon="icon-location" %} 98 Main St S, Georgetown, ON L7G 3E4<br>
			{% include icon.html icon="icon-phone" %} <a href="tel:905-877-4624">905-877-IMAI (4624)</a><br>
			{% include icon.html icon="icon-facebook" %} <a href="https://www.facebook.com/pages/category/Sushi-Restaurant/Imai-Japanese-Cuisine-919515488131536/">Follow us on Facebook</a><br>
			{% include icon.html icon="icon-instagram" %} <a href="https://instagram.com/imaijapanese/">Follow us on Instagram</a><br>
		</div>

		<div class="col-md-4">
			<table id="open-hours">
				<caption class="heading">Open Hours</caption>
				<tr>
					<td>Sunday</td>
					<td>4:00PM - 8:00PM</td>
				</tr>
				<tr>
					<td>Monday</td>
					<td>Closed</td>
				</tr>
				<tr>
					<td>Tue-Fri</td>
					<td>12:00AM - 3:00PM<br>
						5:00PM - 8:30PM</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>5:00PM - 8:30PM</td>
				</tr>
			</table>
		</div>
	</div>
</section>

<section class="container" id="map">
	<div class="row">
		<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d360.86982908650634!2d-79.925625!3d43.649029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b72ac88fd4ce7%3A0x7625ab0242c56b1d!2sImai%20Japanese%20Cuisine!5e0!3m2!1sen!2sus!4v1627796696525!5m2!1sen!2sus"></iframe>
	</div>
</section>
