---
layout: default
title: Menu
ordering: 2
---

<div class="hero-thingy" id="index-hero">
	<h1>Menu</h1>
</div>

<input type="text" id="search" placeholder="Search for items…">

<div class="js-self-link container" id="menu">

{% include menu-section.html id="appetizer" name="Appetizers" %}
{% include menu-section.html id="salad" name="Salad" %}
{% include menu-section.html id="soup" name="Soup" %}
{% include menu-section.html id="grill" name="Deep Fried, Teriyaki & Grill" %}
{% include menu-section.html id="steam" name="Steam & Broil (Dine-In Only)" %}
{% include menu-section.html id="rice" name="Rice & Donburi" %}
{% include menu-section.html id="noodles" name="Noodle" subtitle="(Take-Out or Dine-In / Soup & Stir Fry Noodle)" %}
{% include menu-section.html id="sushi" name="Sushi & Sashimi" %}
{% include menu-section.html id="specrolls" name="Chef's Special Rolls" %}
{% include menu-section.html id="pizza" name="Sushi Pizza" %}
{% include menu-section.html id="special-rolls" name="Special Rolls" %}
{% include menu-section.html id="traditional-rolls" name="Traditional Rolls" %}
{% include menu-section.html id="hand-rolls" name="Hand Rolls" %}
{% include menu-section.html id="sushi-sashimi" name="Sushi & Sashimi Set Dinner" subtitle="Served with Miso Soup, Green Salad, Two Kinds Of Daily Appetizer & Dessert" %}
{% include menu-section.html id="tradcourses" name="Traditional Set Courses" subtitle="Served with Miso Soup, Green Salad, Steamed Rice, Stir Fried Vegetable, 1 pcs Hanimaki, 3 pcs California Roll & 1 pcs Mousse Cake" %}
{% include menu-section.html id="noodlecourses" name="Noodle Set Courses" subtitle="Dine-In Only<br>Served with Green Salad, Two Kinds of Daily Appetizer & Dessert" %}
{% include menu-section.html id="dessert" name="Dessert" %}
{% include menu-section.html id="sscombo" name="Sushi & Sashimi Combination" %}
{% include menu-section.html id="stray" name="Sushi in Tray" subtitle="Take-out Only" %}
{% include menu-section.html id="lunch-special-kitchen" name="Lunch Special - Kitchen $11.95" subtitle="Includes Soup, Salad & Rice" %}
{% include menu-section.html id="lunch-special-sushi" name="Lunch Special - Sushi $14.25" subtitle="Includes Soup and Salad" %}

</div>
