/*
 * Body
 */

main {
	// Hero
	.hero-thingy {
		background-attachment: fixed;
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, .5);
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 0px 9px 38px 8px rgba(0,0,0,0.38);
		box-sizing: content-box;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 10vh;
		min-height: 20rem;
		padding-top: 4rem;
		position: relative;
		text-align: center;
		width: 100%;

		h2 {
			margin: auto 0;
			font-size: 3rem;
		}

	}

	img {
		max-width: 100%;
	}

	.col-6 .gallery {
		img {
			max-height: none;
		}
	}
}

#index-hero {
	background-image: url("/assets/images/IMG_3475.jpg");
	background-position-y: bottom;
	height: calc(70vh - 10em);
}

#menu-hero {
	background-image: url("/assets/images/ramen.jpg");
	background-position-y: center;
	height: calc(50vh - 10em);
}

#info {
	h2 {
		margin-bottom: 0.5em;
	}
}
#contact-us {
	h3 {
		font-size: 1.15rem;
	}

	div {
		margin-bottom: 1rem;
	}
}

#open-hours {
	tr {
		td {
			padding: 0 2em 0.5em 0;

			&:nth-child(2) {
				font-weight: bold;
			}
		}
	}
}

#follow-us {
	a {
		background: #f0f0f0;
		border-radius: 100%;
		color: #5C5C5C;
		display: inline-block;
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		text-align: center;
		text-decoration: none;
		transition: top 0.3s ease;
		margin-right: 1em;
		top: 0;
		position: relative;
		padding: 0;

		&:hover, &:focus-visible {
			background: $accent-light;
			top: 5px;
		}
	}
}
