/*
 * Body
 */

main {
	#index-hero {
		background-image: url("/assets/images/IMG_3475.jpg");
		background-position-y: bottom;
		height: calc(70vh - 10em); 
	}

	#menu-hero {
		background-image: url("/assets/images/ramen.jpg");
		background-position-y: center;
		height: calc(50vh - 10em); 
	}

	// Hero
	.hero-thingy {
		background-attachment: fixed;
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, .5);
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 0px 9px 38px 8px rgba(0,0,0,0.38);
		box-sizing: content-box;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 10em;
		padding-top: 8rem;
		position: relative;
		text-align: center;
		width: 100%;

		h2 { 
			margin: auto 0;
			font-size: 3rem;
		}

	}

	img {
		max-width: 100%;
	}

	.col-6 .gallery {
		img {
			max-height: none;
		}
	}
}

#open-hours {
	caption-side: top;

	caption {
		color: black;
	}

	tr {
		td {
			padding: 0 2em 0.5em 0;

			&:nth-child(2) {
				font-weight: bold;
			}
		}
	}
}
