/*
 * General
 */

// Set font family
body {
	font-family: "Roboto", sans-serif;
}

a {
	touch-action: manipulation; // https://webkit.org/blog/5610/more-responsive-tapping-on-ios/

	&:hover {
		color: $accent-light;
	}
}

summary {
	.heading {
		display: inline;
	}
}

.heading {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2rem;
	padding: 0.5rem 0;
}

.icon {
	height: 1em;
	width: 1em;
}

// Photoswipe gallery
.gallery {
	// make thumbnails uniform in height
	img {
		max-height: 20em;
		padding: 1rem 1rem 0 0;
		float: left;
	}

	// hide captions until clicked on
	figure { display: none; }

	// Remove underline from photos in photoswipe gallery
	a[data-size] {
		text-decoration: none;
	}
}

// Spacing
.spacer {
	height: 5rem;
}

section {
	margin-bottom: 5rem;
}

/* Tab Skip */
.skip-to-content {
	height: 1px;
	left: -25565vw;
	overflow: hidden;
	position: absolute;
	top: 1em;
	width: 1px;
	z-index: -1337;

	&:focus-visible, &:active {
		background: $accent-light;
		border: 3px solid white;
		border-radius: 15px;
		color: white;
		font-size: 1rem;
		height: auto;
		left: calc(50vw - 6rem);
		margin: 1rem .5rem;
		overflow: auto;
		padding: .5rem 1rem;
		text-align: center;
		text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
		width: auto;
		z-index: 6969;
	}
}

/* Self link */
h2, h3 {
	.self-link {
		opacity: 0;
		transition: opacity .3s ease;

		svg { height: .75em; }
	}

	&:hover {
		.self-link { opacity: .5; }
	}
}

/* Increase margin for details */
details {
	margin-bottom: 2rem;
}

/*
 * Controls
 */

/* Button */
$button: #EEE linear-gradient(#E0E0E0, #CCC);
$button-hover: #F2F2F2 linear-gradient(#F2F2F2, #E9E9E9);
$button-disabled: #CCC linear-gradient(#CCC, #AAA);

$button-border: #B5B5B5;
$button-border-hover: #CECECE;

$button-inset-border: #E3E3E3;
$button-inset-border-hover: #FDFDFD;

input {
	&[type="text"] {
		background: linear-gradient(#F9F9F9, white);
		border: 0;
		border-radius: .2rem;
		box-shadow: 0 0 0 1px #DADADA, 0 0 0 2px #B5B5B5;
		font-family: inherit;
		image-rendering: pixelated;
		padding: .5em;
		transition: .125s box-shadow ease;

		&:hover { box-shadow: 0 0 0 1px white, 0 0 0 2px #CECECE; }

		&:focus {
			background: linear-gradient(#F9F9F9, #F3F3F3);
			box-shadow: 0 0 0 1px $accent-dark, 0 0 0 2px $accent-light;
			outline: 1px solid transparent;
		}
	}

	&[type="checkbox"], &[type="radio"] {
		opacity: 0;
		position: absolute;

		&:focus + label .sc-input {
			background: $button-hover;
			border-color: $button-border-hover;
			box-shadow: inset 0 0 0 1px $button-inset-border-hover;
		}

		+ label { user-select: none; }

		+ label .sc-input {
			background: $button;
			border: 1px solid $button-border;
			box-shadow: inset 0 0 0 1px $button-inset-border;
			display: inline-block;
			height: .8em;
			transition: background .125s ease, border-color .125s ease;
			user-select: none;
			width: .8em;
		}

		+ label .sc-input::before {
			content: "";
			display: block;
			margin: auto;
			position: relative;
			transition: background .125s ease;
		}

		&:hover + label .sc-input {
			background: $button-hover;
			border-color: $button-border-hover;
			box-shadow: inset 0 0 0 1px $button-inset-border-hover;
		}
	}

	&[type="checkbox"] {
		+ label .sc-input { border-radius: .25rem; }

		+ label .sc-input::before {
			bottom: .05em;
			clip-path: polygon(40% 60%, 85% 0, 100% 20%, 40% 90%, 0 55%, 20% 35%);
			height: .8em;
			width: .8em;
		}

		&:checked + label .sc-input::before {
			background-color: $accent-dark;
			background-color: var(--checkmark-colour);
		}

		&:indeterminate + label .sc-input::before {
			background-color: $accent-dark;
			background-color: var(--checkmark-colour);
			border-radius: 30%;
			clip-path: initial;
			height: .5em;
			top: .15em;
			width: .5em;
		}
	}

	&[type="radio"] {
		+ label .sc-input { border-radius: 100%; }

		+ label .sc-input::before {
			border-radius: 100%;
			height: .4em;
			top: .2em;
			width: .4em;
		}

		&:checked + label .sc-input::before {
			background-color: $accent-dark;
			background-color: var(--checkmark-colour);
		}
	}
}
