/*
 * General
 */

// Set font family
body {
	font-family: "Roboto", sans-serif;
}

a {
	&:hover {
		color: $accent-colour;
	}
}

// Photoswipe gallery
.gallery {
	// make thumbnails uniform in height
	img {
		max-height: 20em;
		padding: 1em 1em 0 0;
		float: left;
	}

	// hide captions until clicked on
	figure { display: none; }

	// Remove underline from photos in photoswipe gallery
	a[data-size] {
		text-decoration: none;
	}
}

// Spacer
.spacer {
	height: 5em;
}

/* Tab Skip */
.skip-to-content {
	height: 1px;
	left: -25565vw;
	overflow: hidden;
	position: absolute;
	top: 1em;
	width: 1px;
	z-index: -1337;

	&:focus-visible, &:active {
		background: $accent-colour;
		border: 3px solid white;
		border-radius: 15px;
		color: white;
		font-size: 1rem;
		height: auto;
		left: calc(50vw - 6rem);
		margin: 1rem .5rem;
		overflow: auto;
		padding: .5rem 1rem;
		text-align: center;
		text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
		width: auto;
		z-index: 6969;
	}
}
