/*
 * Menu
 */
.dish {
	padding-bottom: 0.5em;

	&.three-cols {
		.name {
			width: 50%;
		}
	}

	.name {
		display: inline-block;
		font-size: large;
		width: 75%;

		.vegetarian { color: #439d18; }
		.spicy { color: #e4490b; }
	}

	.price {
		float: right;
		width: 25%;
	}

	.price2 {
		width: 25%;
	}

	.desc {
		width: 75%;
	}
}

#menu {
	p {
		margin-left: 1.1rem;
	}
}

#search-menu {
	margin-bottom: 0.25rem;
	width: 100%;
}

#filter-selection {
	margin-bottom: 2rem;

	.icon {
		margin-left: 0.25em;
	}

	label {
		padding: 0.75rem 1.5rem 1rem 0;
		margin-right: 1rem;
	}
}

#empty-msg {
	text-align: center;

	p {
		text-align: center;
	}

	svg {
		display: inline-block;
		margin-bottom: 2em;
		max-width: 15em;
	}
}
