/*
 * Mobile
 */

@media screen and (max-width: 640px) {
	nav {
		background: rgba(0, 0, 0, 0.5);
		display: block;
		padding-bottom: 0.5em;
		width: 100%;

		a {
			color: inherit;
		}

		ul {
			display: flex;
			justify-content: space-around;
			order: 2;
			padding-left: 1rem;
			width: 100%;

			li {
				margin-right: 0;
			}
		}

		.navbar-logo {
			order: 1;
			top: 0;
			
			img {
				max-height: 4em;
				padding-left: 1rem;
			}
		}

		.cta {
			order: 3;
			padding: 0 0 0 1.25rem;
			text-align: left;
			width: initial;
		}

	}

	.gallery {
		img {
			max-height: 10em;
		}
	}

	.hero-thingy {
		padding-top: 10rem;
	}

	#info {
		.col-4 {
			display: block;
			padding: 1rem;
			width: 100%;
		}
	}
	
}

@media print {
	#menu {
		summary{
			&::marker {
				content: "";
			}

			p {
				margin-left: 0;
			}
		}

	}

}
