/*
 * Mobile
 */

@media screen and (max-width: 640px) {
	nav {
		background: rgba(0, 0, 0, 0.5);
		display: block;
		padding-bottom: 0.5em;
		width: 100%;

		a {
			color: inherit;
		}

		ul {
			align-content: flex-end;
			align-items: center;
			justify-content: flex-end;
			line-height: 2rem;
			order: 2;
			padding: 0;
			text-align: center;
			width: 100%;

			li {
				margin-right: 0;
				padding: 0 1rem;
				margin: 0 0.5rem;
			}
		}

		.navbar-logo {
			order: 1;
			top: 0;

			img {
				max-height: 4em;
				width: 100%;
			}
		}

		.cta {
			order: 3;
			padding: 0;
			text-align: center;
			width: initial;
		}

	}

	.gallery {
		img {
			max-height: 10em;
		}
	}

	.hero-thingy {
		padding-top: 10rem !important;
	}

	#info {
		.col-4 {
			display: block;
			padding: 1rem;
			width: 100%;
		}
	}

}

@media print {
	#menu {
		summary{
			&::marker {
				content: "";
			}

			p {
				margin-left: 0;
			}
		}

	}

}
