<hr hidden>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="heading">Imai Japanese Cuisine</h2>
				98 Main Street South, Georgetown, ON<br>
				<div style="opacity:.5;">Design: <a href="https://logonoff.github.io/" target="_blank">logonoff</a></div>

			</div>

			<div class="col-md-4 socials" style="display: flex; justify-content: flex-end; align-items: center;">
				<a href="https://www.facebook.com/Imai-Japanese-Cuisine-919515488131536/" title="Follow us on Facebook" rel="noopener noreferrer" target="_blank">{% include icon.html icon="icon-facebook" %}</a>
				<a href="https://instagram.com/imaijapanese/" title="Follow us on Instagram" rel="noopener noreferrer" target="_blank">{% include icon.html icon="icon-instagram" %}</a>
				<a href="tel:905-877-4624" title="Call us at 905-877-IMAI" rel="noopener noreferrer" target="_blank">{% include icon.html icon="icon-phone" %}</a><br>
			</div>
		</div>

	</div>
</footer>
