<header>

<a href="#main" class="skip-to-content">Skip to Content</a>

<nav>
	<a class="navbar-logo" href="{{ "index.html" | absolute_url }}">
		<img alt="Imai Japanese Cuisine logo" src="{{ "/assets/images/logo.png" | absolute_url }}" width="285" height="128"/>
	</a>

	<ul>
		{% assign sorted_pages = site.pages | sort:"ordering" %}

		{% for node in sorted_pages %}
			{% if node.ordering %}

				<li {% if page.title == node.title %}class="current"{% endif %} >
					<a href="{{ node.url | absolute_url }}">
						{{ node.title }}
					</a>
				</li>

			{% endif %}
		{% endfor %}

		{% if page.title == "Home" %}
			<li>
				<a href="#contact-us">
					Contact
				</a>
			</li>
		{% else %}
			<li>
				<a href="{{ "index.html" | absolute_url }}#contact-us">
					Contact
				</a>
			</li>
		{% endif %}

	</ul>

	<div class="cta">
		<a href="tel:905-877-4624">905-877-IMAI (4624)</a>
	</div>
</nav>

</header>
