<header>

<a href="#main" class="skip-to-content">Skip to Content</a>

<nav>
	<a class="navbar-logo" href="#"><img alt="Imai Japanese Cuisine logo" src="{{ "/assets/images/logo.png" | prepend: site.url }}"/></a>

	<ul>
		<li><a href="index.html">Home</a>&nbsp;</li>
		<li><a href="menu.html">Menu</a>&nbsp;</li>
		<li><a href="about.html">About Us</a>&nbsp;</li>
		<li><a href="index.html#contact">Contact</a>&nbsp;</li>
	</ul>

	<div class="cta">
		<a href="tel:905-877-4624">905-877-IMAI (4624)</a>
	</div>
</nav>

</header>
