<header>

<a href="#main" class="skip-to-content">Skip to Content</a>

<nav>
	<a class="navbar-logo" href="{{ "index.html" | prepend: node.baseurl }}"><img alt="Imai Japanese Cuisine logo" src="{{ "/assets/images/logo.png" | prepend: site.url }}"/></a>

	<ul>
		{% assign sorted_pages = site.pages | sort:"ordering" %}

		{% for node in sorted_pages %}
			{% if node.ordering %}

				<li {% if page.title == node.title %}class="current"{% endif %} >
					<a href="{{ node.url | prepend: node.baseurl }}">
						{{ node.title }}
					</a>
				</li>

				&nbsp;

			{% endif %}
		{% endfor %}

	</ul>

	<div class="cta">
		<a href="tel:905-877-4624">905-877-IMAI (4624)</a>
	</div>
</nav>

</header>
