<section id="{{ include.id }}">
	<details open>
		<summary>
			<h2 class="heading">{{ include.name }}</h2>
			{% if include.subtitle.size > 0 %}
				<p class="subtitle">{{ include.subtitle }}</p>
			{% endif %}

			<hr>
		</summary>

		<div class="row">
			{% for dish in site.data.menu[include.id] %}
				<div class="dish
					{% if dish.price2.size > 0 %} three-cols{% endif %}

					{% if include.fullwidth %} col-md-12 col-sm-12
						{% else %} col-md-6 col-sm-6
					{% endif %}

					{% if dish.vegetarian %} vegetarian{% endif %}
					{% if dish.spicy %} spicy{% endif %}
					">

					{% if dish.name.size > 0 %}
						<span class="name">
							{{ dish.name }}
							{% if dish.vegetarian %}
								{% include icon.html icon="icon-leaf" class="vegetarian" title="This dish is vegetarian" %}
							{% endif %}

							{% if dish.spicy %}
								{% for i in (1..{{dish.spicy}}) %}
									{% include icon.html icon="icon-fire" class="spicy" title="This dish may be spicy" %}
								{% endfor %}
							{% endif %}
						</span>
					{% endif %}
					{% if dish.price.size > 0 %}
						<span class="price">{{ dish.price }}</span>
					{% endif %}
					{% if dish.price2.size > 0 %}
						<span class="price2">{{ dish.price2 }}</span>
					{% endif %}
					{% if dish.description.size > 0 %}
						<div class="desc">{{ dish.description }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

	</details>
</section>
