---
style: compressed
---

@charset "utf-8";

@import "vendor/normalize";
@import "vendor/bootstrap-grid";

$accent-light: #be9e5f; // should contrast well with black
$accent-dark: #312520; // should contrast well with white

/*!
 * IMAI Japanese Cuisine
 */
@import "header";

@import "general";
@import "body";
@import "menu";
@import "note";
@import "footer";

@import "mobile";

@import "vendor/photoswipe";
